<div class="tab-pane fade in active" id="sampling">
  <table ng-table="tableParams" class="table table-condensed" show-filter="true">
    <tr ng-repeat="user in $data" style="text-align: center;">
      <td title="'产品编号'" filter="{ ObjectNo: 'text'}" sortable="'ObjectNo'">
          <button type="button" class="btn btn-link" style="font-size:10px;text-decoration:none" ng-click="toTestResult(user.ObjectNo,user.ObjCompany,user.ObjIncuSeq)">{{user.ObjectNo}}</button></td>
      <td title="'样品来源'" filter="{ ObjCompany: 'text'}" >
          {{user.ObjCompany}}</td>
      <td title="'重检标识'" filter="{ ObjIncuSeq: 'text'}" >
          {{user.ObjIncuSeq}}</td>
      <td title="'产品名字'" filter="{ ObjectName: 'text'}" >
          {{user.ObjectName}}</td>
      <td title="'产品类型'" filter="{ ObjectType: 'text'}" sortable="'ObjectType'">
          {{user.ObjectType}}</td>
      <td title="'录入人员'" filter="{ SamplingPeople: 'text'}" >
          {{user.SamplingPeople}}</td>
      <td title="'样品记录时间'" filter="{ SamplingTime: 'text'}" sortable="'SamplingTime'">
          {{user.SamplingTime|timeFormat:'YYYY-MM-DD h:m'}}</td>
      <td title="'取样器具'" filter="{ SamplingTool: 'text'}" >
          {{user.SamplingTool}}</td>
      <td title="'取样量'" filter="{ SamAmount: 'text'}" >
          {{user.SamAmount}}</td>
      <td title="'分样方法'" filter="{ DevideWay: 'text'}" >
          {{user.DevideWay}}</td>
      <td title="'样品容器'" filter="{ SamContain: 'text'}" >
          {{user.SamContain}}</td>
      <td title="'注意事项'" filter="{ Warning: 'text'}" >
          {{user.Warning}}</td>
      <td title="'更新记录'" filter="{ revDateTime: 'text'}" sortable="'revDateTime'">
          <button type="button" class="btn btn-link" style="font-size:10px;text-decoration:none;" popover id="popover1" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-html="true" data-title="更新记录" data-content="更新时间：{{user.revDateTime|timeFormat:'YYYY-MM-DD h:m'}}<br>终端IP：{{user.TerminalIP}}<br>终端名字：{{user.TerminalName}}<br>用户名：{{user.revUserId}}<br>身份证：{{user.revIdentify}}">{{user.revDateTime|timeFormat:'YYYY-MM-DD h:m'}}</button></td>
    </tr>
  </table>

</div>

